body{
    background-image: url(Instruments.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.navbar ul{
    list-style-type: none;
}

.navbar ul a{
    text-decoration: none;
    color:black;
    float: left;
    padding: 0px 50px;
    border: 2px solid black;
}
.navbar ul a:hover{
    color:white;
    background-color: black;
}